<h3><%= @way.name_with_initial %></h3>
<!-- <h3><%= @way.stops_array %></h3>
<h3><%= @way.departure %></h3>
<h3><%= @way.arrival %></h3>
<h3><%= @way.train.number_of_seats %></h3> -->
<br />

Маршрут: <%= @way.stops_array_str %> <br />
Отправление: <%= @way.departure %><br />
Прибытие: <%= @way.arrival %><br />

<%= render(
    partial: "tickets/ticket",
    collection: @way.tickets.except(@new_ticket)
  ) %>


<%= render partial: 'tickets/form', locals: {ticket: @new_ticket || @way.tickets.build} %>
<br />
<%= link_to 'Назад', ways_path, class: 'button button-small button-green' %>
