<h3><%= @way.way_number %></h3>
<h3><%= @way.stops_array %></h3>
<h3><%= @way.departure %></h3>
<h3><%= @way.arrival %></h3>
<h3><%= @way.train.number_of_seats %></h3>

<%= link_to 'Edit', edit_way_path(@way) %> |
<%= link_to 'Back', ways_path %>


<%= render(
    partial: "tickets/ticket",
    collection: @way.tickets.except(@new_ticket)
  ) %>


<br />

<%= render partial: 'tickets/form', locals: {ticket: @new_ticket || @way.tickets.build} %>
